@import "variables";
@import "badges";

html {
  font-family: Arial, sans-serif;
}

.links > div > .link {
  cursor: pointer;
  span {
    color: $color_gray-dark;
  }
  &:hover span {
    color: $color_black;
  }
}
